<header>
  <h1>
    <%= link_to concen_root_path do %>
      <span class="engine-name">Concen</span>
      <span class="application-name"><%= Concen.application_name %></span>
    <% end %>
  </h1>
  <nav>
    <ul>
      <% if current_concen_user %>
        <li><%= link_to "Status", concen_status_path %></li>
        <li><%= link_to "Traffic", concen_traffic_path %></li>
        <li><%= link_to "Performance", concen_performance_path %></li>
        <li><%= link_to "Pages", concen_pages_path %></li>
        <li><%= link_to "Users", concen_users_path %></li>
        <%= render "layouts/concen/additional_header_links" %>
        <li><%= link_to "Settings", edit_concen_user_path(current_concen_user) %></li>
        <li><%= link_to "Sign Out", concen_signout_path %></li>
      <% else %>
        <li><%= link_to "Sign In", concen_signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
