!!! 5
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= "#{@page_title + ' - ' if @page_title}Concen - #{Concen.application_name}"
    %meta{:name => "description", :content => "Web application to control and monitor a website."}
    %meta{:name => "author", :content => "Steve Randy Tantra"}
    %meta{:name => "copyright", :content => "Copyright © 2011 by Steve Randy Tantra"}
    %meta{:name => "DC.title", :content => "#{@page_title + ' - ' if @page_title}Control Center - #{Concen.application_name}"}
    %meta{:name => "DC.subject", :content => "Control, Monitor, Center, Web Application"}
    %meta{:name => "DC.creator", :content => "Steve Randy Tantra"}
    %meta{:name => "viewport", :content => "width = 1024"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = csrf_meta_tag
    = stylesheet_link_tag "/concen/stylesheets/application.css"
    = stylesheet_link_tag "/concen/stylesheets/jquery.ui.resizable.css"
    - if content_for?(:head_stylesheets)
      = yield :head_stylesheets
    /[if lt IE 8]
      = stylesheet_link_tag "/concen/stylesheets/ie.css"
    %script{:type => "text/javascript", :src => "http://use.typekit.com/#{Concen.typekit_id}.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    - if Rails.env == "production"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"
    - else
      = javascript_include_tag "/concen/javascripts/modernizr.js", "/concen/javascripts/jquery.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.core.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.widget.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.mouse.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.position.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.sortable.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.resizable.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.draggable.js"
    = javascript_include_tag "/concen/javascripts/jquery-ui/jquery.ui.droppable.js"
    = javascript_include_tag "/concen/javascripts/jquery.ui.nestedSortable.js"
    = javascript_include_tag "/concen/javascripts/jquery_ujs.js"
    - if content_for?(:head_javascripts)
      = yield :head_javascripts
    - if content_for?(:head)
      = yield :head
  %body.concen
    = render "layouts/concen/header"
    = yield
    %footer.clearfix
      %p
        %span Created by
        = link_to "Steve Randy Tantra", "http://steverandytantra.com/"
