#header
	%h1 Forgot Your Password?	
#content.relative
	- if devise_error_messages!.present?
		.flash-messages
			%p.alert Failed to submit the form. Please review the form again.
	= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
		= f.hidden_field :reset_password_token
		.field
			= f.label :email
			= f.text_field :email
			- error_message_for resource, :email
		.actions
			= f.submit "Send Reset Password Instructions", :disable_with => 'Please Wait...'
	.side-panel
		= render :partial => "users/shared/links"