%header
  %h1
    %a{:href => "/"}
      %span.control-center Cultiv
      %span.application-name= ControlCenter.application_name
  %nav
    %ul.right
      - if current_user
        %li= link_to "Status", control_center_status_path
        %li= link_to "Traffic", control_center_traffic_path
        %li= link_to "Performance", control_center_performance_path
        %li= link_to "Pages", control_center_pages_path
        %li= link_to "Users", control_center_users_path
        %li= link_to "Settings", edit_control_center_user_path(current_user)
        %li= link_to "Sign Out", control_center_signout_path
      - else
        %li= link_to "Sign In", control_center_signin_path
      -# = render "layouts/control_center/extra_header_links"
