!!! 5
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= "#{@page_title + ' - ' if @page_title}Control Center - #{ControlCenter.application_name}"
    %meta{:name => "description", :content => "Web application to control and monitor a website."}
    %meta{:name => "author", :content => "Steve Randy Tantra"}
    %meta{:name => "copyright", :content => "Copyright © 2011 by Steve Randy Tantra"}
    %meta{:name => "DC.title", :content => "#{@page_title + ' - ' if @page_title}Control Center - #{ControlCenter.application_name}"}
    %meta{:name => "DC.subject", :content => "Control, Monitor, Center, Web Application"}
    %meta{:name => "DC.creator", :content => "Steve Randy Tantra"}
    %meta{:name => "viewport", :content => "width = 1024"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = csrf_meta_tag
    = stylesheet_link_tag "/control_center/stylesheets/application.css"
    = stylesheet_link_tag "/control_center/stylesheets/jquery.ui.resizable.css"
    - if content_for?(:head_stylesheets)
      = yield :head_stylesheets
    /[if lt IE 8]
      = stylesheet_link_tag "/control_center/stylesheets/ie.css"
    %script{:type => "text/javascript", :src => "http://use.typekit.com/wjq3dno.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    /[if lt IE 7]
      = javascript_include_tag "/control_center/stylesheets/DD_belatedPNG_0.0.8a.js"
      :javascript
        DD_belatedPNG.fix('img, .png-bg')
    - if Rails.env == "production"
      = javascript_include_tag "//ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
    - else
      = javascript_include_tag "/control_center/javascripts/modernizr.js", "/control_center/javascripts/jquery.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.core.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.widget.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.mouse.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.position.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.sortable.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.resizable.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.draggable.js"
    = javascript_include_tag "/control_center/javascripts/jquery-ui/jquery.ui.droppable.js"
    = javascript_include_tag "/control_center/javascripts/jquery.ui.nestedSortable.js"
    = javascript_include_tag "/control_center/javascripts/jquery_ujs.js"
    = javascript_include_tag "/control_center/javascripts/application.js"
    - if content_for?(:head_javascripts)
      = yield :head_javascripts
    - if content_for?(:head)
      = yield :head
  %body.controlcenter
    = render "layouts/control_center/header"
    = yield
    %footer.clearfix
      %p Copyright © 2011 Steve Randy Tantra
