- content_for :head_javascripts do
  = javascript_include_tag "/concen/javascripts/ace/ace.js"
  = javascript_include_tag "/concen/javascripts/fileuploader.js"

#content
  %h1= "Edit #{@grid_file.original_filename}"
  .clearfix
    = render "form"