.files
  - if @page.grid_files.any?
    .stylesheets
      %h3
        Stylesheets
        = link_to "New", control_center_page_grid_files_path(@page, :file_type => "css"), :class => "new-file"
      - if @page.stylesheets.any?
        = render :partial => "control_center/pages/file_list", :locals => {:files => @page.stylesheets}
      
    .javascripts
      %h3
        JavaScripts
        = link_to "New", control_center_page_grid_files_path(@page, :file_type => "js"), :class => "new-file"
      - if @page.javascripts.any?
        = render :partial => "control_center/pages/file_list", :locals => {:files => @page.javascripts}
      
    - if @page.images.any?    
      .images
        %h3 Images
        = render :partial => "control_center/pages/file_list", :locals => {:files => @page.images}
        
    - if @page.others.any?
      .others
        %h3 Others
        = render :partial => "control_center/pages/file_list", :locals => {:files => @page.others}