%ul
  - files.each_with_index do |file, index|
    %li
      = link_to "#{file.original_filename} (#{number_to_human_size(file.size)})", file.url(root_url), :class => "filename"
      - if file.text?
        = link_to "Edit", edit_control_center_page_grid_file_path(file.page, file)
      = link_to "Delete", control_center_page_grid_file_path(file.page, file), :method => :delete, :confirm => "Are you sure?"
