= form_for @page do |f|
  - if @page.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@page.errors.count, "error")} prohibited this parent from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .field
    #content-editor
  = f.text_area :content, :class => "hidden"
  = f.hidden_field :parent_id
  = f.hidden_field :level
  .actions.flush
    = f.submit "Save"
    = link_to "Cancel", control_center_pages_path
