- content_for :head_javascripts do
  /[if lte IE 8]
    = javascript_include_tag "concen/excanvas"
  = javascript_include_tag "concen/jquery.flot"
  = javascript_include_tag "concen/jquery.flot.stack"
  = javascript_include_tag "concen/jquery.flot.resize"
  = javascript_include_tag "concen/performance"

#content
  .panels
    .panel.wide
      .border
        %h3 Responses in Past Hour
        .graph
          #recent-responses{:style => "width: 100%; height: 200px;"}

  .panels
    .panel.total-runtime
      .border
        %h3 Average Total Runtime
        %ul
    .panel.view-runtime
      .border
        %h3 Average View Runtime
        %ul
    .panel.mongodb-runtime.edge
      .border
        %h3 Average MongoDB Runtime
        %ul
    .clear
