- content_for :head_javascripts do
  = javascript_include_tag "/control_center/javascripts/jquery.flot.js"
  = javascript_include_tag "/control_center/javascripts/jquery.flot.stack.js"

#content
  .panels.clearfix
    .panel
      %h3
        Server
      %ul
        %li
          %p Uptime
          %p.right= @server_statistics[:uptime] if @server_statistics
        %li
          %p Processor
          %p.right= "#{@server_statistics[:processor][:user]}% user, #{@server_statistics[:processor][:sys]}% sys, #{@server_statistics[:processor][:idle]}% idle" if @server_statistics[:processor].present?
        %li
          %p Memory
          %p.right= "#{@server_statistics[:memory][:used]} MB used, #{@server_statistics[:memory][:free]} MB free" if @server_statistics[:memory].present?
        %li
          %p MongoDB Data Size
          %p.right= number_to_human_size(@mongodb_stats["dataSize"])
        %li
          %p MongoDB Index Size
          %p.right= number_to_human_size(@mongodb_stats["indexSize"])
    .panel
      = render "statistics_extra_panel_1" rescue nil
    .panel.edge
      = render "statistics_extra_panel_2" rescue nil

#placeholder1{:style => "width: 800px; height: 200px;"}

:javascript
  $(function () {
    var d1 = #{@stats.to_json}

    function plotWithOptions() {
      $.plot($("#placeholder1"), [{label: "Visits", data: d1}], {
        xaxis: {
          mode: "time",
          timeformat: "%h %P",
          ticks: #{@stats.count}
        },
        yaxis: {tickDecimals: 0},
        grid: { hoverable: true, clickable: true },
        legend: { show: true, position: 'ne' },
        series: {
          lines: { show: true, fill: true, steps: false, lineWidth: 2, fillColor: { colors: [ { opacity: 0.08 }, { opacity: 0.08 }, { opacity: 0.08 } ] }},
          points: { show: true },
          stack: true,
          shadowSize: 0
        },
        colors: ["#F3535C"]
      });
    };

    plotWithOptions();

    function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css( {
          position: 'absolute',
          display: 'none',
          top: y + 5,
          left: x + 5,
          border: '1px solid #fdd',
          padding: '2px',
          'background-color': '#fee',
          opacity: 0.80
      }).appendTo("body").fadeIn(200);
    };

    var previousPoint = null;
    $("#placeholder1").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;

            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
                y = item.datapoint[1].toFixed(2);

            showTooltip(item.pageX, item.pageY, "Visits: " + parseInt(y));
          }
        }
        else {
          $("#tooltip").remove();
          previousPoint = null;
        }
    });
  });
