= form_for @user do |f|
  - if @user.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this parent from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  - if @user.invitation_token
    = f.hidden_field :invitation_token
  .field
    = f.label :full_name
    .thick-border
      .border= f.text_field :full_name
  .field
    = f.label :username
    .thick-border
      .border= f.text_field :username
  .field
    = f.label :email
    .thick-border
      .border= f.text_field :email
  .field
    = f.label :password
    .thick-border
      .border= f.password_field :password
  .field
    = f.label :password_confirmation
    .thick-border
      .border= f.password_field :password_confirmation
  .actions
    = f.submit "Save"
    - if @user.persisted?
      = link_to "Delete", concen_page_path(@user), :method => :delete
    = link_to "Cancel", concen_pages_path
