<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="errorExplanation">
      <h3><%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %></h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.invitation_token %>
    <%= f.hidden_field :invitation_token %>
  <% end %>
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
    <% if @user.persisted? %>
      <%= link_to "Delete", concen_page_path(@user), :method => :delete %>
    <% end %>
    <%= link_to "Cancel", concen_pages_path %>
  </div>
<% end %>
