- content_for :head_javascripts do
  = javascript_include_tag "/concen/javascripts/user.js"

#content
  %h1
    = one_line do
      %span Users
      = link_to "Invite New User", new_invite_concen_users_path, :class => "link-button"
  .thick-border
    .border
      %table.users
        %thead
          %tr
            %th Username
            %th Full Name
            %th Email
            %th Sign Up On
            %th Pages
            %th Full Control
            %th Actions
        %tbody
          - for user in @users
            %tr
              %td= user.username
              %td= user.full_name
              %td= user.email
              %td= user.created_at.strftime("%d %B %Y")
              %td= Concen::Page.where(:authors.in => [user.username, user.full_name, user.email]).count
              %td= check_box_tag "full_control", 1, user.full_control, "data-path" => toggle_attribute_concen_user_path(user), :disabled => user == current_concen_user || !current_concen_user.full_control
              %td
                = link_to "Delete", concen_user_path(user), :method => :delete, :confirm => "Are you sure?"
