<div id="content">
  <h1>Reset Password</h1>
  <div class="clearfix">
    <%= form_for @user, :url => reset_password_concen_users_path do |f| %>
      <% if @user.errors.any? %>
        <div id="errorExplanation">
          <h3><%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %></h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="actions">
        <%= f.submit "Send" %>
      </div>
    <% end %>
  </div>
</div>
