#content
  %h1 Reset Password
  .clearfix
    = form_for @user, :url => reset_password_concen_users_path do |f|
      - if @user.errors.any?
        #errorExplanation
          %h3= "#{pluralize(@user.errors.count, "error")} prohibited this parent from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :email
        .thick-border
          .border= f.text_field :email
      .actions
        = f.submit "Send"
