.files
  .stylesheets
    %h3
      %span Stylesheets
      = link_to "New", concen_page_grid_files_path(@page, :file_type => "css"), :class => "link-button new-file"
    - if @page.stylesheets.any?
      = render :partial => "concen/pages/file_list", :locals => {:files => @page.stylesheets}

  .javascripts
    %h3
      %span JavaScripts
      = link_to "New", concen_page_grid_files_path(@page, :file_type => "js"), :class => "link-button new-file"
    - if @page.javascripts.any?
      = render :partial => "concen/pages/file_list", :locals => {:files => @page.javascripts}

  - if @page.images.any?
    .images
      %h3 Images
      = render :partial => "concen/pages/file_list", :locals => {:files => @page.images}

  - if @page.others.any?
    .others
      %h3 Others
      = render :partial => "concen/pages/file_list", :locals => {:files => @page.others}