= form_for @page, {:html => {:class => "with-text-editor #{'wide' if !@page.persisted?}"}} do |f|
  - if @page.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@page.errors.count, "error")} prohibited this parent from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .field.text-editor
    .border
      #text-editor
  = f.text_area :raw_text, :class => "text-editor-content hidden"
  = f.hidden_field :parent_id
  .actions.flush
    = f.submit "Save"
    - if @page.persisted?
      = link_to "Delete", concen_page_path(@page), :method => :delete
    = link_to "Cancel", concen_pages_path
