#content
  %h1 Sign In
  = form_tag concen_sessions_path do
    .field
      = label_tag :username
      .thick-border
        .border= text_field_tag :username, params[:username]
    .field
      = label_tag :password
      .thick-border
        .border= password_field_tag :password, params[:password]
    .actions
      = submit_tag "Sign In"
      = link_to "Reset Password", new_reset_password_concen_users_path
