- content_for :head_javascripts do
  /[if lte IE 8]
    = javascript_include_tag "/control_center/javascripts/excanvas.js"
  = javascript_include_tag "/control_center/javascripts/jquery.flot.js"
  = javascript_include_tag "/control_center/javascripts/jquery.flot.stack.js"
  = javascript_include_tag "/control_center/javascripts/jquery.flot.resize.js"
  = javascript_include_tag "/control_center/javascripts/traffic.js"

#content
  .panels.thick-border
    .panel.wide.border
      %h3 Past 24 Hours
      .graph
        #recent-visits{:style => "width: 100%; height: 200px;"}

  .panels.clearfix
    .panel.visits-1-hour
      .thick-border
        .border
          %h3 Past Hour
          %p.big-number
    .panel.pages
      .thick-border
        .border
          %h3 Pages
          %ul
    .panel.referrals.edge
      .thick-border
        .border
          %h3 Referrals
          %ul
